@model IEnumerable<Modelos.Entregas.Entrega>

@{
    ViewBag.Title = "Listado de Entregas";
}

<br />
<div class="container animated 	pulse  ">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card" style="border:0px">
                <div class="card-header bg-dark text-white text-center">
                    <h5>Listado de Entregas</h5>
                    <p>
                        @Html.ActionLink("Nueva Entrega", "InsertarEntrega")
                    </p>
                    
                </div>
                <div class="container">
                    <br/>
                    <div class="row">
                        <div class="col-md-8 input-group">
                            <b><label>Buscar: </label></b>&nbsp;&nbsp;
                            <input id="filtro" type="text" Placeholder="Buscar a...." />
                        </div>
                    </div>
                    <br/>
                    <table class="table">
                        <tr>
                            <th>No.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Destino)
                            </th>
                            <th>
                                @Html.DisplayName("Fecha Salida")
                            </th>
                            <th>
                                @Html.DisplayName("Fecha Regreso")
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Peso)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Empleado)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Prioridad)
                            </th>
                            <th>
                                <div align="center">Opciones</div>
                            </th>
                        <tbody id="tblss">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Destino)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Salida)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Fecha_Regreso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Peso)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cliente)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Empleado)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Prioridad)
                                    </td>
                                    <td>
                                        <div align="center">
                                            <a class="text-white">@Html.ActionLink(" Editar ", "ModificarEntrega", new { id = item.ID }, new { @class = "btn btn-warning" })</a>
                                            @* <br /> <a class="text-white">@Html.ActionLink(" Detalles ", "Details", new { id = item.ID }, new { @class = "btn btn-success" })</a> *@
                                            <a class="text-white">@Html.ActionLink("Eliminar", "EliminarEntrega", new { id = item.ID }, new { @class = "btn btn-danger" })</a>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tblss tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}