@model Modelos.Entregas.Entrega


@{
    ViewBag.Title = "Registrar Entrega";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="container animated 	pulse">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="card" style="border:0px">
                    <div class="card-header bg-success text-white text-center">
                        <h5>Registrar Entrega</h5>
                        @Html.ActionLink("Ir a la lista", "Entregas", null, new { style = "color:black" })
                    </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="row">                           
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Fecha Salida", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Fecha_Salida, new { htmlAttributes = new { @class = "form-control", @type = "Date" }} )
                                        @Html.ValidationMessageFor(model => model.Fecha_Salida, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.Label("Fecha Regreso", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Fecha_Regreso, new { htmlAttributes = new { @class = "form-control", @type = "Date" }} )
                                        @Html.ValidationMessageFor(model => model.Fecha_Regreso, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">                           
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Destino", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.TextAreaFor(model => model.Destino, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Destino, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.Label("Descripción", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.TextAreaFor(model => model.Descripcion, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Prioridad", htmlAttributes: new { @class = "control-label" })</b>
                                        <div>
                                            @{
                                                if (Model.Prioridades != null)
                                                {
                                                    @Html.DropDownListFor(model => model.PrioridadID, Model.Prioridades.Select(s => new SelectListItem { Value = s.ID.ToString(), Text = s.Nombre.ToString() }), new { @class = "form-control" })
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.PrioridadID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.LabelFor(model => model.Peso, htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Peso, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Peso, "", new { @class = "text-danger" })
                                    </div> 
                                </div>
                            </div>
                            <div class="row"> 
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Cliente", htmlAttributes: new { @class = "control-label" })</b>
                                        <div>
                                            @{
                                                if (Model.Clientes != null)
                                                {
                                                    @Html.DropDownListFor(model => model.ClienteID, Model.Clientes.Select(s => new SelectListItem { Value = s.ID.ToString(), Text = s.Nombre.ToString() }), new { @class = "form-control" })
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.Label("Empleado", htmlAttributes: new { @class = "control-label" })</b>
                                        <div>
                                            @{
                                                if (Model.Empleados != null)
                                                {
                                                    @Html.DropDownListFor(model => model.EmpleadoID, Model.Empleados.Select(s => new SelectListItem { Value = s.ID.ToString(), Text = s.Nombre.ToString() }), new { @class = "form-control" })
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.EmpleadoID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <Center> 
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-14">
                                        <input type="submit" value="Registrar" class="btn btn-success btn-block" />
                                    </div>
                                </div>
                            </Center>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
} 