@model IEnumerable<Modelos.Entregas.Prioridades>

@{
    ViewBag.Title = "Listado de Prioridades";
}

<br />
<div class="container animated 	pulse">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <div class="card" style="border:0px">
                <div class="card-header bg-dark text-white text-center">
                    <h5>Listado de Prioridades</h5>
                    <p>
                        @Html.ActionLink("Nueva Prioridad", "InsertarPrioridad")
                    </p>
                   
                </div>
                <div class="card-body">
                     <div class="row">
                        <div class="col-md-8 input-group">
                            <b><label>Buscar: </label></b>&nbsp;&nbsp;
                            <input id="filtro" type="text" Placeholder="Buscar a...." />
                        </div>
                    </div>
                    <br/>

                    <table class="table">
                        <tr>
                            <th>No.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Nombre)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Horas)
                            </th>

                            <th>
                                Opciones Adicionales
                            </th>
                        </tr>
                        <tbody id="tblss">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Horas)
                                    </td>
                                    <td>
                                        <div>

                                            <a class="text-white">@Html.ActionLink("Editar", "ModificarPrioridad", new { id = item.ID }, new { @class = "btn btn-warning" })</a>
                                            @* <a class="text-white">@Html.ActionLink("Detalles", "Details", new { id = item.Id }, new { @class = "btn btn-primary" })</a> *@
                                            <a class="text-white">@Html.ActionLink("Eliminar", "EliminarPrioridad", new { id = item.ID }, new { @class = "btn btn-danger" })</a>
                                        </div>

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $("#filtro").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#tblss tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
}