@model IEnumerable<Modelos.Vehiculos.Color>

@{
    ViewBag.Title = "Listado de Colores";
}

<br />
<div class="container animated pulse">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card" style="border:0px">
                <div class="card-header bg-dark text-white text-center">
                    <h5>Listado de Colores</h5>
                    <p>
                        @Html.ActionLink("Nuevo Color", "InsertarColor")
                    </p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                            <th> Opciones Adicionales</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                <div>
                                    <a class="text-white">@Html.ActionLink("Editar", "ModificarColor", new { id = item.ID }, new { @class = "btn btn-success" })</a>
                                    <!-- <a class="text-white">@Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })</a> -->
                                    <a class="text-white">@Html.ActionLink("Eliminar", "EliminarColor", new { id = item.ID }, new { @class = "btn btn-danger" })</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

