@model IEnumerable<Modelos.Vehiculos.Vehiculo>

@{
    ViewBag.Title = "Listado de Vehículos";
}

<br />
<div class="container animated 	pulse  ">
    <div class="row justify-content-md-center">
        <div class="col-md-12">
            <div class="card" style="border:0px">
                <div class="card-header bg-dark text-white text-center">
                    <h5>Listado de Vehículos</h5>
                    <p>
                        @Html.ActionLink("Nuevo Vehículo", "InsertarVehiculo")
                    </p>
                </div>
                <div class="container">
                    <br/>
                    <div class="row">
                        <div class="col-md-8 input-group">
                            <b><label>Buscar: </label></b>&nbsp;&nbsp;
                            <input id="filtro" type="text" Placeholder="Buscar a...." />
                        </div>
                    </div>
                    <br/>
                    <table class="table">
                        <tr>
                            <th>No.</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Chasis)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Placa)
                            </th>
                            <th>Año</th>
                            <th>
                                @Html.DisplayNameFor(model => model.Modelo)
                            </th>
                            <th>Transmisión</th>
                            <th>
                                Opciones Adicionales
                            </th>
                        <tbody id="tblss">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ID)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Chasis)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Placa)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Anio)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Modelo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Transmision)
                                    </td>

                                    <td>
                                        <a class="text-white">@Html.ActionLink(" Editar ", "ModificarVehiculo", new { id = item.ID }, new { @class = "btn btn-warning" })</a>
                                        @* <br /> <a class="text-white">@Html.ActionLink(" Detalles ", "Details", new { id = item.ID }, new { @class = "btn btn-success" })</a> *@
                                        <a class="text-white">@Html.ActionLink("Eliminar", "EliminarVehiculo", new { id = item.ID }, new { @class = "btn btn-danger" })</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @section Scripts
{
        <script type="text/javascript">
            $(document).ready(function () {
                $("#filtro").on("keyup", function () {
                    var value = $(this).val().toLowerCase();
                    $("#tblss tr").filter(function () {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
    }
