@model IEnumerable<Modelos.Empleados.Cargo>


@{
    ViewBag.Title = "Listado de Cargos";
}

<br />
<div class="container animated pulse">
    <div class="row justify-content-md-center">
        <div class="col-md-6">
            <div class="card" style="border:0px">
                <div class="card-header bg-dark text-white text-center">
                    <h5>Listado de Cargos</h5>
                    <p>
                        @Html.ActionLink("Nuevo Cargo", "InsertarCargo")
                    </p>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <th>ID</th>
                            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
                            <th> Opciones Adicionales</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                <div>
                                    <a class="text-white">@Html.ActionLink("Editar", "ModificarCargo", new { id = item.ID }, new { @class = "btn btn-warning" })</a>
                                   @*<a class="text-white">@Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-primary" })</a>  *@
                                    <a class="text-white">@Html.ActionLink("Eliminar", "EliminarCargo", new { id = item.ID }, new { @class = "btn btn-danger" })</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
