@model IEnumerable<Modelos.Empleados.Empleado>

@{
    ViewBag.Title = "Empleados";
}
<center>
    <h2>Empleados</h2>

    <p>
        @Html.ActionLink("Nuevo Empleado", "InsertarEmpleado", null, new { @class = "btn btn-success" })
    </p>
</center>
<div style="padding-left: 90px; padding-right: 90px">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Cedula)
                </th>
                <th>
                    @Html.DisplayName("Codigo Empleado")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Correo)
                </th>
                <th></th>
            </tr>

        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cedula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Codigo_Empleado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Correo)
                </td>
                <td>
                    @Html.ActionLink("Editar", "ModificarEmpleado", new { id = item.ID }, new { @class = "btn btn-warning" }) |
                    @*@Html.ActionLink("Detalles", "Details", new { id = item.ID }, new { @class = "btn btn-info" }) |*@
                    @Html.ActionLink("Eliminar", "EliminarEmpleado", new { id = item.ID }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>
