@model Modelos.Empleados.Empleado

@{
    ViewBag.Title = "Editar Empleado";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <br />
    <div class="container animated 	pulse">
        <div class="row justify-content-md-center">
            <div class="col-md-8">
                <div class="card" style="border:0px">
                    <div class="card-header bg-warning text-center">
                    <h5>Editar Empleado</h5>
                    @Html.ActionLink("Ir a la lista", "Empleados", null, new { style = "color:White" })
                </div>
                    <div class="card-body">
                        <div class="form-horizontal">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.ID)
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.Label("Código", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Codigo_Empleado, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Codigo_Empleado, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Cédula", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Cedula, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Cedula, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.Label("Teléfono", htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Departamento", htmlAttributes: new { @class = "control-label" })</b>
                                        <div>
                                            @{
                                                if (Model.Departamentos != null)
                                                {
                                                    @Html.DropDownListFor(model => model.DepartamentoID, Model.Departamentos.Select(s => new SelectListItem { Value = s.ID.ToString(), Text = s.Nombre.ToString() }), new { @class = "form-control" })
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.DepartamentoID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <b>@Html.LabelFor(model => model.Correo, htmlAttributes: new { @class = "control-label" })</b>
                                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group" style="margin-left:40px">
                                        <b>@Html.Label("Cargo", htmlAttributes: new { @class = "control-label" })</b>
                                        <div>
                                            @{
                                                if (Model.Cargos != null)
                                                {
                                                    @Html.DropDownListFor(model => model.CargoID, Model.Cargos.Select(s => new SelectListItem { Value = s.ID.ToString(), Text = s.Nombre.ToString() }), new { @class = "form-control" })
                                                }
                                            }
                                            @Html.ValidationMessageFor(model => model.CargoID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div><br/>
                            <Center> 
                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-14">
                                        <input type="submit" value="Guardar Cambios" class="btn btn-warning btn-block" />
                                    </div>
                                </div>
                            </Center>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
} 
