<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Proyecto Final </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <!-- <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/> -->
     <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script> -->
  />
    <style>
        html {
            min-height: 100%;
            position: relative;
        }
        body {
            
            margin: 0;
            margin-bottom: 40px;
            background: #000428;
            background: -webkit-linear-gradient(to right, #004e92, #000428);
            background: linear-gradient(to right, #004e92, #000428);

        }
        nav{
            margin-top:0;
        }

        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center;
            padding-top:10px;
        }
    </style>
</head>
<body>
 <!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark"> -->
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            @Html.ActionLink("Proyecto Final", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="nav navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Vehiculos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="@Url.Action("InsertarColor","Vehiculos")">Nuevo Color</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Colores","Vehiculos")">Colores</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("InsertarMarca","Vehiculos")">Nueva Marca</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Marcas","Vehiculos")">Marcas</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("InsertarModelos","Vehiculos")">Nuevo Modelo</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Modelos","Vehiculos")">Modelos</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("InsertarVehiculo","Vehiculos")">Nuevo Vehiculo</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Vehiculos","Vehiculos")">Vehiculos</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Empleados
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="@Url.Action("InsertarCargo","Empleados")">Nuevo Cargo</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Cargos","Empleados")">Cargos</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("InsertarDepartamento","Empleados")">Nuevo Departamento</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Departamentos","Empleados")">Departamentos</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("InsertarEmpleado","Empleados")">Nuevo Empleado</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Empleados","Empleados")">Empleados</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Incidencias
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="@Url.Action("InsertarCargo","Empleados")">Nuevo Cargo</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Talleres","Incidencias")">Talleres</a>
                            <div class="dropdown-divider"></div>
                            @*<a class="dropdown-item" href="@Url.Action("InsertarDepartamento","Empleados")">Nuevo Departamento</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Incidencias","Incidencias")">Incidencias</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Clientes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @*<a class="dropdown-item" href="@Url.Action("InsertarCargo","Empleados")">Nuevo Cargo</a>*@
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Clientes","Clientes")">Clientes</a>
                            <div class="dropdown-divider"></div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Entregas
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Prioridades","Entregas")">Prioridades</a>
                            <div class="dropdown-divider"></div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="@Url.Action("Entregas","Entregas")">Entregas</a>
                            <div class="dropdown-divider"></div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                            <img src="~/Content/img/usuario.png" style="height:20px" />
                            @if (Session["Usuario"] != null)
                            {
                                @Proyectofinal.LoginHelper.NombreUsuario;
                            }
                            <span class="caret"></span>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Content("~/Login/Logout")">Cerrar Sesión</a>

                        </div>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    @if (ViewData["ERROR"] != null)
    {
        <div class="container">
            <div class="alert alert-danger">
                @ViewData["ERROR"]
            </div>
        </div>
    }
    @if (ViewData["GOOD"] != null)
    {

        <div class="container">
            <div class="alert alert-success">
                @ViewData["GOOD"]
            </div>
        </div>
    }
    @if (ViewData["INFO"] != null)
    {

        <div class="container">
            <div class="alert alert-info">
                @ViewData["INFO"]
            </div>
        </div>
    }

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Grupo #4</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
